.confirm_wrap {
	padding-top: 250px;
	padding-bottom: 200px;
	.confirm_cont{
	background: $form-bg;
	border:2px solid $form-blue;
	background: $form-bg;
	}
	.card-body{
		.card-text {
		font-size:1em;
		letter-spacing:.07em;
		line-height:1.75;
		}
	}
	.sendbtn{
		background: $btn-color;
		font-size: .9em;
	}
}

.complete_wrapper{
	padding-top: 160px;
	padding-bottom: 200px;
	.container{
		border:2px solid $form-blue;
		background: $form-bg;
	}
	.container-fluid{
		background: $form-blue;
	}
	h1{
		border-bottom:8px solid $form-blue;
	}
	div.card-body{
		border:2px solid $form-blue;
	}
	.naiyou{
		border-bottom:4px solid $form-blue;
	}
	.comp-close {
		background: $btn-color;
	}

}