.orderbox_wrapper {
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 100;
    background: white;
    width: 330px;
    border: 2px solid #444;
    opacity: 0;
    animation: fadein .7s 1s forwards ease-in;
}

.orderbox_close {
    position: absolute;
    top: 0px;
    right: 4px;
    font-size: 1.28em;
    &:hover{
    	opacity: .6;
    }
}

.btn-orderbox {
    color: white;
    background: #2196F3;
}



@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


a.btn-orderbox {
    color: white !important;
    transition: all .3s ease;
}