body {
    /*    font-size: .75em;*/
}

ul#menu-header_nav {
    width: 100%;
}

header.banner {
    display: none;
}

.slider_padding {
    padding: 0px;
}

#carouselExampleIndicators {
    display: none;
}


section#news_wrapper {
    overflow: hidden;
}

a.navbar-brand img {
    width: 110px;
}

button.navbar-toggler {
    border: 0px;
}

main.main {
    margin-bottom: 0px;
}

.cont_wrap {
    padding: 0px 0px !important;
}

.recommend_bg .d-flex {
    flex-direction: column;
    padding: 0em 2em;
}

.recommend_bg .d-flex .card {
    margin-bottom: 30px;
    border: 0;
}

.card-img-overlay {
    opacity: 1;
    background: #fff7;
}

section#news_wrapper {
    padding-top: 0px;
}

.head_news {
    font-size: 1em;
}

.head_news:before,
.head_news:after,
.head_items:before,
.head_items:after {
    width: 40px;
}


.head_items {
    font-size: 1.75em;
    padding: 40px 60px;
}

.item-list-grid-item {
    flex-basis: 50%;
}

.pickup_wrapper {
    flex-wrap: wrap;
    justify-content: start;
}

.pickup_wrapper > div {
    flex-basis: 50%;
}

.card.picklist {
    border: 0px;
}

.footer_wrapper {
    flex-direction: column;
    font-size: .9em;
}

.recommend_bg {
    background: #e8f0f1;
}

h5.card-title,
h5.card-title a {
    color: #005691;
    letter-spacing: .09em;
    line-height: 2;
    font-weight: bold;
}

section#news_wrapper {
    background: #e8f0f1;
}

.news_content_wrapper {
    border: 0px;
}

.news_content_wrapper ul li {
    border: 0px;
}

section.twin-clm-wrapper {
    background: #fff;
}

.reccomend_section div.card {
    border-radius: 3px !important;
    overflow: hidden;
}

.reccomend_section div.card {
    border-radius: 3px !important;
    overflow: hidden;
}

.head_news {
    margin: 40px 0px 40px;
}

section#news_wrapper {
    margin-bottom: 0px !important;
}

.cont_wrap_items {
    padding: 0px 0px !important;
}

section#news_wrapper {
    padding: 0px 0px;
}

h5.card-title {
    font-size: .9em;
}


.d-flex.flex-row.justify-content-around.mb-md-5.p-md-5.pb-sm-3.three-card {}

section#item_article {
    flex-direction: column;
}

.related_content ul li {
    flex-basis: 32.05%;
}

.related_content ul {
    justify-content: start;
}

.swiper-flex-item {
    flex-basis: 100%;
    flex-shrink: 1;
}

.related_content {
    padding: 1em 1em;
}

.category_wrap {
    width: 31%;
}

section#item_article {
    padding: 0px 0px;
}

div.three-card {
    flex-direction: column !important;
}

.rounded-circle {
    width: 140px !important;
    margin: auto;
}

div.two-card {
    flex-direction: column !important;
    font-size: .95em;
}

div.two-card > div img {
    width: 40%;
}

ul#item_tab li {
    width: auto;
    margin: 0px 4px !important;
}

ul#item_tab li a {
    font-size: .4em;
    padding: 5px;
}

#howtomake img {
    width: 100%;
}

.recommend_bg_m {
    overflow: hidden;
}

/*

.swiper-mobile .swiper-slide {
position: relative;
}
.swiper-mobile .swiper-slide .swiper-slide-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
transition: all 3s ease 0s;
}
*/

div.content .main {
    box-shadow: -1px 2px 9px 0px #3333;
}

.recommend_bg_m {
    padding: 3em;
}

.recommend_bg_m {
    background: #f9f9f9;
}

.swiper-mobile {
    overflow: hidden;
}

.swiper-mobile img {
    width: 100%;
    margin-bottom: 2em;
}

.swiper-slide-content {
    text-align: left;
}

.swiper-slide {
    padding: 1em;
}


.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: relative;
    bottom: 0px;
    margin-top: 10px;
}

.swiper-slide-content {
    border-top: solid 1px #005691;
    padding-top: 1em;
}

.swiper-slide-content .card-text a {
    color: #666;
}

.howto_li i {
    font-size: 1.5em;
}

.news_content_wrapper {
    padding: 0px 6px;
}

.item_discription {
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 1;
}

.item_discription h5 {
    font-size: .75em;
    text-align: left;
    font-weight: normal !important;
}

.cont_wrap_items {
    max-width: unset;
}

.footer-container {
    border: 0px;
}

p.item_cap {
    color: #0c0c0c;
    line-height: 2;
}

h3.item_price_p {
    font-size: 1.35em;
}

.three-card {
    background: #d8edee;
    padding: 3em;
    border-radius: 6px;
    margin-bottom: 1em;
    box-shadow: 0px 3px 4px #3333;
    margin-top: 0em;
}

.three-card-item {
    border: 1px solid #eee;
    padding: 1em;
    margin-top: -1.2em;
    background: #fff;
    box-shadow: 0px 10px 10px 0px #8881;
}

.related_content ul li {
    margin-bottom: 3em;
}

div#category_component {
    /*    margin-bottom: 3em;*/
}

div.two-card > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav.navbar {
    display: flex;
    background: white !important;
}

section#point {
    padding-top: 4em;
}

#point h2 {
    font-size: 1.75em;
}

.point-flex {
    flex-direction: column;
    width: 100%;
}

.point_img {
    height: 200px
}

.item_discription {
    margin-top: .5em;
    margin-bottom: 2em;
}

p.post-category {
    margin-bottom: 0.25em;
}

.news_title {
    padding: 1em 0;
}

.sp_head_wrap h1 {
    line-height: 6;
    font-size: 1.5em;
    margin-bottom: 0em;
}

.social-icons {
    font-size: 1.45em;
    text-align: center;
}

.social-icons a {
    margin: 0px .5em;
}

div#news-archive-grid {
    padding: 0px;
}

li.list-group-item {
    padding: 20px 15px;
}

.container.news_archive {
    padding: 30px 0px;
    background: #f8f8f8;
}

section#point h2 {
    font-size: 1.24em;
}

#item-archive-grid article {
    flex-basis: 50%;
    margin-bottom: 2em;
}

p.item_archive_price {
    padding: 0px;
}

.container.category_item_wrap {
    padding: 0px 0px 30px;
}

.category_head_text h2 {
    font-size: 1.4em !important;
    letter-spacing: .05em;
}

.col-md-9.cat_caption {
    background: #FDEA9D;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #444;
}

div#item-archive-grid {
    margin-top: 3em;
}

.item_padding {
    padding-top: 2em !important;
}

button.item_templink {
    margin-top: 1em;
    font-size: .85em;
}

.single-item {
    font-size: .85em;
}

.two-card .card-body {
    font-size: .8em;
    line-height: 2;
    padding: 30px 3px 0px;
}

ul#item_tab {
    margin-bottom: 2em;
}

.swiper-background {
    box-shadow: none;
    background-image: none;
    background: transparent;
}

ul.thumb-list {
    margin-top: 1em;
    margin-bottom: 3em;
}

h3.item_para {
    margin-top: 3.23em !important;
}

.cart_wrapper {
    margin-left: -15px;
    width: 100vw;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

cart_container {}

.cart_container {
    padding: 2em 0em;
}

.cart_btn_wrapper_top {
    margin-left: -46px;
    width: 100vw;
    padding: 5em 2em 3.3em;
    background: #f7f7f7;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.three-card {
    margin-left: -15px;
    width: 100vw;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}

.tab-content {
    margin-left: -15px;
    width: 100vw;
    background: #f1f1f1;
}

.fluid {
    margin-left: -15px;
    width: 100vw;
    margin-bottom: -2em !important;
}

#Navber ul li {
    line-height: 3;
    font-size: 1.4em;
}

#Navber ul {
    padding-top: 20px;
    padding-bottom: 20px;
}

#Navber ul li a {
    font-weight: lighter;
    letter-spacing: .06em;
    line-height: 4;
}

.menu-header_nav-container {
    margin-left: 0px;
    text-align: center;
}

section#categories_ichiran .categories_name {
    font-size: 1em;
    font-weight: normal;
    padding: 1em .5em 0em;
}

#categories_ichiran p {
    padding: 0em .6em;
    font-size: .8em;
    color: #999;
    letter-spacing: .06em;
}

.totopbtn{
    display: none;
}
