@charset "utf-8";


caption {
    caption-side: top;
}

.news_content a {
    text-decoration: underline;
}

/*------------*/
/*ITEMPAGE MODAL*/
/*------------*/

.modal.and.carousel {
    position: fixed;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}

/*------------*/
/*FONT AWESOME*/
/*------------*/

svg.svg-inline--fa {
    margin-right: .5em;
}


/*------------*/
/*HEADING TYPOGRAPH*/
/*------------*/


.related_content h3 {
    text-align: center;
    font-weight: bold;
    /* color: darkturquoise; */
    /* filter: drop-shadow(2px 2px 3px #8884); */
}

.newslist h3 {
    font-size: 1.5em;
    letter-spacing: .09em;
    color: #555;
}

.card {
    border-radius: 0px;
    /* border: 1px solid #000; */
}

.card-img-overlay p a,
.card-img-overlay h5 a {
    color: #333;
}


header.banner {
    /* border: 1px solid black; */
}

.news-list-grid-item {
    width: 30%;
}

.newslist img.card-img-top.wp-post-image {
    height: auto;
    width: 100%;
}

.item-list-grid-item {
    flex-basis: 33.333%;
}

.item-list-grid-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: start;
}


.pickup_wrapper {
    display: flex;
    justify-content: center;
    /* padding: 40px; */
    /* background: #17a2b8; */
}

.card.picklist > img {
    width: 100% !important;
    height: auto !important;
}

.d-flex.justify-content-center.item-list {
    flex-wrap: wrap;
    justify-content: start !important;
}

.card-img-overlay {
    height: 100%;
    background: #3331;
    transition: all .3s ease;
    opacity: 0;
}


.news_content_wrapper {
    /* display: flex; */
    /* border: 1px solid #000; */
    padding: 30px;
    /* border-radius: 13px; */
    align-items: center;
    /* border-bottom: 1px solid #666; */
    background: white;
    font-family: 'Fredoka One', cursive;
    /* border: 1px solid black; */
    border-radius: 6px;
}

.news_content {
    flex-basis: 100%;
    padding: 0em 1em;
}

.news_all_btn {
    text-align: center;
    margin-bottom: 1em;
}

button.btn.btn-info {
    padding: 1.3em 2em;
    font-weight: bold;
}

ul#menu-header_nav {
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    /* width: 1110px; */
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
}

.carousel-inner {
    overflow: hidden;
    width: 100% !important;
}

.carousel-control-prev,
.carousel-control-next {
    display: none !important;
}

section.pickup_section {
    position: relative;
    background: #f6f6f6;
}

.pickup_wrapper {
    /* width: 100vw; */
    /* position: relative; */
    /* left: 50%; */
    /* right: 50%; */
    /* margin-left: -50vw; */
    /* margin-right: -50vw; */
}

form.wpcf7-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommend_bg {
    background: #fdea9e;
}

footer.footer {
    background: #eeecec;
}

.footer_wrapper {
    flex-wrap: nowrap;
    padding: .5em;
    padding-top: 2em;
}

.footer-container {
    flex-basis: 33.333%;
    padding: 0 15px;
    border-right: 1px solid darkgrey;
}

li.list-group-item {
    /* background: transparent !important; */
    /* border: none; */
    /* border-bottom: 2px solid white; */
}

.related_content {
    /* border: 1px solid #000; */
    /* border-radius: 5px; */
    padding: 2em 3em;
    /* background: #fcfcfc; */
}


.related_content ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px !important;
    justify-content: space-around;
}

.related_content ul li {
    flex-basis: 18.6%;
    margin: 2px;
    padding: 0px;
    /* border: 1px solid #000; */
    background: white;
    /* border-radius: 9px; */
    position: relative;
    top: 0px;
    transition: .5s all ease;
    /* box-shadow: 0px 2px 2px #8882; */
}

.related_item img {
    object-fit: cover;
    width: 100% !important;
    height: auto;
}

img.attachment-300x300.size-300x300.wp-post-image {}

a.related_link {
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px 0; */
    color: #777;
    letter-spacing: .06em;
    font-size: .8em;
}


.news_content p {
    margin-left: 0em;
    /* line-height: 3; */
    display: inline;
    /* margin-top: 2em; */
}

.card-img-overlay:hover {
    opacity: 1;
    color: black;
}

li#menu-item-25 a {
    padding: 0px;
}

nav ul li a img {
    width: 160px;
}

nav ul li a,
nav ul li {
    color: #333;
    font-weight: normal;
    font-size: .95em;
}

li#menu-item-303,
li#menu-item-304,
li#menu-item-305 {
    font-size: 1.1em;
}

li#menu-item-303 a,
li#menu-item-304 a,
li#menu-item-305 a {
    padding: 1em 0.5em;
}

.wrap.container {
    max-width: 100%;
    padding: 0;
}

.slider_padding {
    padding-top: 110px;
    overflow: hidden;
    /* border-bottom: 2px solid black; */
}

.cont_wrap {
    max-width: 1200px;
    padding: 70px 0 70px !important;
    margin: 0 auto;
    /* border-bottom: 1px solid #DEDEDE; */
}



p.card-text {
    font-size: .8em;
}


section#news_wrapper {
    padding: 0px 0;
    background: #ffffff;
    /* background: url('http://yotsubaakurirulab1106.local/wp-content/uploads/2019/11/hero_back2-1-scaled.jpg'); */
    background-size: cover;
    background-position: bottom;
}

/*main.main{
background: url('http://yotsubaakurirulab1106.local/wp-content/uploads/2019/11/hero_back2.jpg');
background-size: contain;
}*/



/*------------*/
/*SIDE MENU   */
/*------------*/


ul.side-menu-bar li ul {
    display: none;
}

ul.side-menu-bar li:hover ul {
    display: block;
}

ul.side-menu-bar {
    list-style: none;
    /* position: relative; */
    /* padding: 0px; */
    /* font-size: 1em; */
    width: 100%;
    border-bottom: 1px solid;
    padding: 26px 0px;
}

.side-menu-bar a {
    color: #848383;
    line-height: 2.28;
    /* font-weight: bold; */
    display: inline-block;
    width: 100%;
    padding-left: 32px;
    /* padding-right: 15px; */
    font-size: .9em;
}

ul.side-menu-bar ul.sub-menu {
    list-style: none;
    position: absolute;
    background: #fffe;
    /* box-shadow: 0px 0px 4px #3335; */
    border: 1px solid #eee;
    padding: 0px 0px;
    top: 0px;
    left: 172px;
    width: 280px;
    z-index: 1;
    font-size: .85em;
    /* line-height: 3; */
}

.side-menu-bar {
    display: inline-block;
}

.side-menu-bar li {
    padding: 0px 0px;
    position: relative;
    line-height: 3.28;
}



.item_padding {
    padding-top: 100px;
    color: #3f3f3f;
}

.swiper-button-next,
.swiper-button-prev {
    /* background-size: 14px 11px !important; */
    /* background-image: unset !important; */
}

.thumb-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.thumb-item {
    list-style: none;
    width: 32%;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
}

.thumb-link {
    display: block;
    width: 100%;
}

li.thumb-item img {
    object-fit: cover;
    height: 110px;
}

.swiper-container {
    /* width: 561px; */
    /* height: 471px; */
}

.swiper-background {
    padding: 1em;
    /* background: #eee; */
    margin-bottom: .5em;
    /* background-image: url("http://yotsubaakurirulab1106.local/wp-content/uploads/2019/11/paper-1.png"); */
    /* box-shadow: 0px 0px 8px #9995; */
}


p.item_cap {
    font-size: 1em;
    letter-spacing: .06em;
    line-height: 1.75;
    font-weight: 300;
}

p.item_price_p {
    font-size: 1em;
    color: #666;
    margin: 40px 0px;
}

span.item_price_bold {
    font-size: 2em;
    letter-spacing: .04em;
}

span.item_unit_bold {
    font-size: 1.28em;
}

#item-archive-grid article {
    flex-basis: 33%;
    padding: 0em 4px 0em;
    text-align: center;
}

.item-archive-flexitem {
    /* border: 1px solid #cccc; */
    padding: 0 0 1em;
    font-size: .9em;
    position: relative;
}

.item-archive-flexitem img {
    object-fit: contain;
    /* display: block; */
    width: 100%;
}


.item-archive-flexitem a {
    color: #333;
    font-size: 1em;
    /* border-radius: 0px; */
}

.item-archive-flexitem header a.item-archive-imagelink {
    display: block;
    transition: .3s all ease;
}

.item-archive-flexitem header a:hover {
    opacity: .65;
}

div.item-archive-header {
    padding-bottom: 0px;
    /* border-radius: 10px; */
    /* box-shadow: 3px 0px 3px #8883; */
    overflow: hidden;
    position: relative;
    border: 1px solid #e9e9e9;
}

p.item_archive_price {
    padding-left: 1em;
    font-size: .9em;
    padding-top: 1em;
    margin-bottom: .5em;
    color: #888;
}

.item-archive-cat {
    position: absolute;
    top: 0;
    left: 0em;
    /* border: 2px solid #888; */
    background: black;
    border-radius: 0px;
    line-height: 1.5;
    padding-bottom: 5px;
}

.wp-pagenavi .pages,
.wp-pagenavi .previouspostslink,
.wp-pagenavi .page,
.wp-pagenavi .nextpostslink,
.wp-pagenavi .current {
    border: 0px;
    color: #444;
}

.wp-pagenavi {
    text-align: center;
    margin: 50px 0;
}

.wp-pagenavi .current {
    background: #333;
    color: #eee;
    padding: .5em .95em;
    border-radius: 0px;
    box-shadow: 0px 3px 3px #8885;
}

.wp-pagenavi a {
    margin: 0 .7em;
    padding: 8px 16px;
    transition: .3s all ease;
    /* border-radius: 33px; */
}

.wp-pagenavi .page:hover {
    background: #ccc;
    /* border-radius: 33px; */
    text-decoration: none;
}

div#news-archive-grid {
    padding: 1em;
    border: 1px solid #000;
    /* border-radius: 10px; */
}

.news-archive-date {
    flex-basis: 18%;
}

.news-archive-title a {
    color: #333;
    text-decoration: underline;
}

.lb-nav .lb-next {
    display: none !important;
}

.side-menu-bar a:hover {
    /* background: #999; */
    text-decoration: none;
    /* color: white; */
    opacity: .8;
}



footer {
    font-size: .8em;
}

#category_modal {
    position: absolute;
    top: 95px;
    left: 130px;
    /* width: 1000px; */
    background: white;
    border: 1px solid;
    /* opacity: .9; */
    display: none;
    z-index: 100;
    padding: 1em 2em;
    /* height: 330px; */
    box-shadow: 0px 0px 8px 0px #3334;
}

nav.nav-primary {
    /* position: fixed; */
    z-index: 1000;
    position: relative;
}

.nav-link,
.banner .nav a {
    display: block;
    padding: 1.5rem;
    transition: border-bottom .3s ease,opacity .3s ease;
    box-sizing: border-box;
}

ul#menu-header_nav li {
    flex-grow: 2;
    cursor: pointer;
}


ul#category_modal_ul {
    height: 260px;
    line-height: 2;
    letter-spacing: 0.06em;
}

ul#category_modal_ul ul {
    list-style: none;
    padding-left: 1em;
    margin-bottom: .5em;
    line-height: 2;
}

ul#category_modal_ul > li {}

.guide_cmp {
    width: 100vw
}

.totopbtn {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    /* border-radius: 80px; */
    /* border: 5px solid white; */
    background: #000;
    /* width: 60px; */
    /* height: 60px; */
    padding: 3px 16px;
    opacity: .8;
    transition: all .3s ease;
}

.totopbtn.bg-info.text-white.shadow.h1 {}

.news-list-group p {
    margin-bottom: 0px;
}

section.twin-clm-wrapper {
    background: #f6f6f6;
}

section.twin-clm-wrapper .side-menu-section {
    background: white;
}

.itemlist:hover {
    /*    transform: scale(1.05);*/
}

.itemlist {
    transition: .2s all ease;
}

.footer_wrapper li {
    background: transparent;
    border: none;
}

.card.picklist:hover {
    /*
    transform: scale(1.05);
    box-shadow: 1px 4px 10px #3334;
    */
}

.card.picklist {
    transition: .2s all ease;
}

form.wpcf7-form {
    width: 640px;
    margin: auto;
    align-items: start !important;
}

span.m-alert {
    font-size: .8em;
    margin-left: .5em;
    color: red;
}

.wpcf7-form input {
    border: 0;
    border-bottom: 1px solid #888;
    padding-top: 1em;
}

.wpcf7-form input[type="submit"] {
    background: transparent;
    border: 0px;
    padding: 0px;
    color: white;
}

p.c2 {
    margin-bottom: 3em;
}

form.wpcf7-form h4 {
    margin-top: 0px !important;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em !important;
}

form.wpcf7-form button {
    padding: 0px;
    text-align: center;
}

main.main {
    margin-bottom: 3em;
}

h2.reccomend {
    border: 1px solid #e9e9e9;
    border-bottom: 0px;
    padding: 1em;
    background: white;
    letter-spacing: .2em;
    font-size: 1.45em;
    color: #444;
}


.head_news {
    /*    border: 1px solid black;*/
    border-bottom: 0px;
    padding: 0px 3.5em;
    /* background: white; */
    letter-spacing: .2em;
    font-size: 1.35em;
    color: #444;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 4em;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
}

.news_content > div {
    margin-top: 0px;
    padding: 10px 0px;
    border-top: 1px solid #ccc;
}

p.news_date {
    font-family: 'Nunito Sans', sans-serif;
    background: #333;
    color: white;
    padding: .33em .57em;
    margin-right: 1em;
    line-height: 4;
    margin-bottom: 0px;
}

button.btn.btn-dark {
    font-family: "Nuinto Sans";
    font-weight: bold;
    border-radius: 0px;
    margin-top: 50px;
    font-size: 1em;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
}

/*h5 a:hover {
    text-decoration: none;
    border-bottom: 1px dashed black;
}*/

h5 a {
    transition: .3s all ease-out;
}

.item_discription {
    /* display: none; */
    animation: showdisc .4s ease;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    /* padding: 30% 0em 0em; */
    text-align: center;
    /* background: #fff9; */
    /* top: 0%; */
    /* opacity: 0; */
    /* left: 30%; */
    margin-top: 2em;
}



.head_news:before,
.head_news:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #000;
    top: 48%;
}

.head_items:before,
.head_items:after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background: #000;
    top: 48%;
}

.head_news:before {
    left: 0px;
}

.head_news:after {
    right: 0px;
}

.head_items:before {
    left: 0px;
}

.head_items:after {
    right: 0px;
}

li.howto_li {}

ul#howto_ul {
    list-style: none;
    line-height: 3;
    font-size: 1.23em;
    padding: 0em 1em;
    margin: 0px;
}

li.howto_li {
    border-top: 1px dashed;
    padding: 20px 0px;
}

.news_title {
    padding: 1em 1em 1em;
}

.howto_li i {
    font-size: 2em;
    vertical-align: middle;
    margin-right: .5em;
    color: #545A74;
}

.head_items {
    position: relative;
    display: inline-block;
    padding: 0px 3.5em;
}

.cont_wrap_items {
    max-width: 80vw;
    padding: 70px 0 70px !important;
    margin: 0 auto;
    /* border-bottom: 1px solid #DEDEDE; */
}

img.item_image {
    width: 100%;
}

h4.footer-title {
    font-size: 1.23em;
    margin-bottom: 1.33em;
}

ul.list-group h5 {
    font-size: 1.12em;
    font-weight: bold;
}

ul#menu-sub {
    list-style: none;
    line-height: 3;
    padding-left: 1em;
}

img.cat_thumb {
    width: 120px;
    padding: 10px 20px;
    box-sizing: content-box;
    margin: 0px 20px;
}

.category_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 19.3%;
}

.category_modal_cont {
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    width: 805px;
    font-weight: bold;
    text-align: center;
    font-size: .8em;
}


header.banner {
    background: white;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    transition: all .5s ease;
    height: 125px;
    top: unset;
}

p.post-category a {
    font-size: .8em;
    color: #888;
}

.item-list-price {
    font-size: .95em;
    letter-spacing: .1em;
}

.category_head_image:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

section.category_head_image {
    position: relative;
}

section.category_head_image {
    z-index: 9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.category_head_wrap {
    z-index: 11;
    position: relative;
}

section.side-menu-section {
    border: 1px solid black;
    padding: 0em 0em;
    border-bottom: 0px;
}

h3.side-menu-head {
    border-bottom: 1px solid;
}

h3.side-menu-head {
    padding: 15px 15px 30px;
    font-size: .8em !important;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
}

.category_head_text h2 {
    font-size: 1.63em !important;
    letter-spacing: .07em;
    line-height: 2;
}

.category_head_text p {
    line-height: 1.75;
    letter-spacing: .06em;
}

.head_items2 {
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
}

button.item_templink {
    background: white;
    border: 1px solid black;
}

.badge {
    border-radius: 0px;
}

h3.related_head {
    font-size: 1.35em !important;
}

div#category_component .d-flex {
    flex-wrap: wrap;
}

.latest_post {
    font-size: .8em;
}

section#item_article {
    font-weight: 300;
    letter-spacing: .06em;
    line-height: 1.75;
    font-size: 1em;
    padding: 0px 30px;
}

.social-icons {
    font-size: 2em;
    padding: 30px;
}

.social-icons a {
    margin-right: 10px;
}


.pnbutton {
    justify-content: space-evenly;
}

.swiper-flex-item {
    flex-basis: 50%;
    flex-shrink: 2;
}

.item_disc_wrap {
    flex-basis: 50%;
    flex-shrink: 1;
}

#siyouhyou table tbody {
    font-size: .95em;
    line-height: 2;
    letter-spacing: .06em;
}

#siyouhyou table td {
    padding: 1em 2em 1em 2em;
}

.item_price_table caption {
    line-height: 2;
}


.item_price_table table {
    font-size: .9em;
    font-weight: 300;
}

h3.item_para {
    font-size: 1.28em;
}

.item_cap_show .item_discription {
    animation: item_disc_showup .5s ease-in-out forwards;
}

/*
@keyframes item_disc_showup {
0% {
opacity: 0;
background: -moz-radial-gradient(#cccc, #aaaa);
background: -webkit-radial-gradient(#cccc, #aaaa);
background: radial-gradient(#cccc, #aaaa);
}

80% {
background: -moz-radial-gradient(#3336, #4449);
background: -webkit-radial-gradient(#3336, #4449);
background: radial-gradient(#3333, #4449);
}

100% {
opacity: 1;
padding-top: 28%;
background: -moz-radial-gradient(#3336, #4449);
background: -webkit-radial-gradient(#3336, #4449);
background: radial-gradient(#3333, #4449);
}
}
*/

.item_cap_show .item_discription a:first-of-type {
    animation: item_disc_showup_a .3s ease forwards;
}

@keyframes item_disc_showup_a {
    0% {}

    100% {
        border-bottom: 1px solid #888;
    }
}

.img-container {
    overflow: hidden;
}

.item_cap_show img.item_image {
    animation: item_disc_showup_img .6s ease-in-out forwards;
}

@keyframes item_disc_showup_img {
    0% {}

    100% {
        transform: scale(1.1);
    }
}

.picklist .img-container:hover {
    opacity: 0.85;
    box-shadow: 1px 2px 10px #888;
}

.picklist .img-container {
    transition: .2s ease all;
}

.list-group a {
    text-decoration: underline;
}


.related_item ul li:hover {
    opacity: .8;
}

.category_wrap:hover {
    opacity: .85;
    transition: .3s ease;
}


section.navigation img {
    width: 160px;
    padding: 1em 0em;
}

section.navigation img.cat_thumb {
    width: 70px;
}
.menu-header_nav-container {
    flex-basis: 100%;
    margin-left: 40px;
}

.swiper-item img {
    width: 100%;
}

.swiper-item {
    overflow: hidden;
}

.item_templink i {
    font-size: 2em;
}

.item_discription h5 {
    font-size: 1em;
    line-height: 2;
    letter-spacing: .08em;
    font-weight: normal !important;
}

nav.navbar {
    display: none;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.row.heaer_img {
    padding: 4em;
    padding-top: 2em;
    padding-bottom: 6em;
}

.news_content > div:first-of-type {
    border: none;
}

li.howto_li:first-of-type {
    border-top: 0px;
}

#point {
    background: #B9DFE7;
    color: #666;
}

.point_content {
    margin: 0px 2em;
    flex-basis: 25%;
}

.point_img {
    height: 180px;
}

.category_head_wrap {
    color: white;
}

.oveflow-hidden {
    overflow: hidden;
}

.recommend_bg .swiper-desk {
    /* overflow: hidden; */
    /* position: relative; */
}

.swiper-wrapper {
    transition-timing-function: ease-out;
}

.recommend_bg .swiper-button-next,
.recommend_bg .swiper-button-prev {
    color: #aaa;
}

.recommend_bg h5 {
    margin-top: 2em;
    font-size: 1.1em;
}

.recommend_bg .swiper-slide img {
    border-radius: 10px;
    border: 1px solid #e5dbb3;
}




/*
.cart_btn_wrapper {
margin-top: 1em;
}
*/

.cart_btn {
    background: #2196f3;
    color: white !important;
    transition: all .3s ease;
}

.cart_wrapper {
    border: 1px solid #979797;
    margin-bottom: 4em;
    margin-top: 4em;
}

.cart_container {
    background: #f7f7f7;
}
.point-flex {
    width: 80%;
    margin: auto;
    max-width: 1400px;
}


#category_modal.modal_selected{
animation: modalfadein 5s ease -2s infinite alternate;}

@keyframes modalfadein {
0% {
}

100% {
    opacity: 1 !important;
    display: block !important;
}
}

.twin-clm-content.cont_wrap_items {
    max-width: 1480px;
}

.cart_btn:hover,a.btn-orderbox:hover {opacity: .8;}



.totopbtn:hover {opacity: .6;transform: scale(1.05);}

.nav-link, .banner .nav a:hover {
    opacity: 0.8;
    text-decoration: none;
    color: #bbb;
    border-bottom: 2px solid #202020;
}

header.banner_scr {
    height: 100px;
    box-shadow: 0px 0px 4px #3338;
    top: 0px;
}
