body {
    font-family: noto-sans-cjk-jp, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

/*------------*/
/*Basic Colors*/
/*------------*/

a {
    color: $basic-link;
    transition: all .3s ease;

    .underline{
    text-decoration: underline;
    }

    &:hover{
    color: $basic-hover;
    opacity: .6;
}

    &.related_link {
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px 0; */
    color: #777;
    letter-spacing: .06em;
    font-size: .8em;
}
}

// fonts

h1,
h2,
h3,
h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;

    &.item_title {
    font-size: 1.75em;
    border-bottom: 1px solid #bbb;
    line-height: 1.75;
    margin-bottom: 1.3em;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
}
    &.entry-title {
    font-size: 1em;
    letter-spacing: 0.06em;
    margin: 20px 0px;
    padding-left: 1em;
    padding-right: 1em;
}
    &.card-title {
    font-size: 1em;
    color: #666;
}
}
