/** Import Bootstrap functions */
// @import "~bootstrap/scss/functions";


$theme-colors: (
  primary: #525ddc
);

$basic-link : #555;
$basic-hover : #5558;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;


$form-blue : #54C9D6;
$form-bg : #fafbfb;

$btn-color:#353535;